{% extends "site_base.html" %}
{% load leaflet_tags %}

{% block body %}

<h1>{{ layer.name }}</h1>

<p>{{ layer.description }}</p>

{% leaflet_map "layermap" %}

{% endblock %}

{% block extra_script %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.3"></script>
    <script type="text/javascript">
        function layermapInit(map, bounds) {
            var stamen = new L.StamenTileLayer("watercolor");
            stamen.addTo(map);

            var bbox = [{{ layer.bbox }}];
            var bounds = [[bbox[1], bbox[0]], [bbox[3], bbox[2]]];
            map.fitBounds(bounds);
            var polygon = L.polygon([
                            [bbox[1], bbox[0]],
    		                [bbox[3], bbox[0]],
                            [bbox[3], bbox[2]],
                            [bbox[1], bbox[2]],
                          ]).addTo(map);
        }
    </script>
{% endblock %}
